/* index.css */

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #fff; /* Default background for other pages */
}

.login-background {
  background: url('./components/images/photo-1544627836-822bfe450209.avif') no-repeat center center;
  background-size: cover;
}
